@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item"><strong>Chat</strong></li>
            @foreach (var item in Model.Friends)
            {

                var messages = item.UnreadMessage == 0 ? " " : "Unread: (" + item.UnreadMessage.ToString() + ")";
                <li class="list-group-item list-group-item-info"><img src="@Url.Content(item.Friend.ImageUrl)" style="width:35px;height:35px" />  @Html.ActionLink(item.Friend.Name, "Index", "Chat", new { id = item.Friend.Id })  @messages</li>

            }
            @if (!Model.Friends.Any())
            {
                <li class="list-group-item list-group-item-danger">You don't have Friends. Try to find users</li>
            }
        </ul>
    </div>
    <div class="col-8">
        @await Component.InvokeAsync("CreatePost")
        @await Component.InvokeAsync("ShowPosts", Model.ShowPost)
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/comment.js"></script>
}


