@model List<Post>

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-6">
        @await Component.InvokeAsync("CreatePost")
    </div>
    <div class="col-6">
    </div>
    <div class="col-6">
        @await Component.InvokeAsync("ShowPosts", Model)
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/comment.js"></script>
}
