@model List<User>


@if (!Model.Any())
{
    <h1>Users not found</h1>
}

@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
    var id = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;

    @foreach (var item in Model)
    {
        @if (item.Id != id)
        {
            <div class="jumbotron">
                <a class="nav-link text-dark" href="@Url.Action("Details", "Porfile",new { id = item.Id})">@item.Name</a>
                <p>@item.City</p>

                @if (item.Friends.Any(u => u == id))
                {
                    <label>Friend</label>
                }
                else if (!item.RequestFriends.Any(u => u.UserId == id))
                {
                    <a href="@Url.Action("AddFriend", "Porfile", new { id = item.Id, returnUrl = Context.Request.Path + Context.Request.QueryString })" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Friend</a>
                }
                else
                {
                    <label>Friend Request Sent</label>
                }
            </div>
        }

    }
}

