@model SocialNetworkMiw.Models.CreatePostViewModel
<button class="btn btn-primary" id="create">What's on your mind?</button>
<div id="createPost" style="display:none">
    <h4>Create Post</h4>
    <hr />
        <div>
            <form asp-action="CreatePost" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FileUrl" class="control-label"></label>
                    <input asp-for="FileUrl" class="form-control" type="file" />
                    <span asp-validation-for="FileUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
</div>

<script>
    $("#create").click(function () {
        $("#createPost").css("display", "block");
        $("#create").css("display", "none");
    });
</script>
